/* 
*   Using Kevin Powells reset from this youtube video
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* End reset */

:root {
  --clr-neutral-100: hsl(0 0 100);
  --clr-neutral-200: hsl(212 45 89);
  --clr-primary-400: hsl(220 15 55);
  --clr-primary-800: hsl(218 44 22);

  --fs-body: 0.875rem;
  --fs-heading: 1.125rem; 
  --ff-primary: Outfit;
  --fw-normal: 400;
  --fw-bold: 700;
}

* {
  font-family: var(--ff-primary);
}

/* Utilities */

.clr-primary-800 {
  color: var(--clr-primary-800);
}
.clr-primary-400 {
  color: var(--clr-primary-400);
}
.fw-normal {
  font-weight: var(--fw-normal);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-heading {
  font-size: var(--fs-heading);
}

/* Components */
.body {
  display: grid;
  background-color: var(--clr-neutral-200);
  place-content: center;
}

.container {
  max-width: 17rem;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-100);
  border-radius: 1rem;
  gap: 1.1rem;
  text-align: center;
  padding: 0.925rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 40px -25px var(--clr-primary-800);
}

.qr-code {
  border-radius: 0.5rem;
}

.heading,
.bodytext {
  max-width: 14rem;
  margin-inline: auto;
}